.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	.flexbox {
		.flex-12 {
			&:last-child {
				text-align: right;
			}
		}
	}
}

.home {
	background-image: url(../img/bg.png);
	.container {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		height: 760px;
	}
	&__svg {
		text-align: center;
		align-content: center;
		height: fit-content;
		margin-bottom: 40px;
		svg {
			width: 100%;
			max-width: 550px;
		}
	}
	&__btns {
		.flexbox {
			.flex-12 {
				margin-top: 20px;
				&:first-child {
					text-align: right;
				}
			}
		}
	}
}
