<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% include head-page.html %}

<body>
	{{ content }}

	<div class="modal fade" tabindex="-1" data-dubiumModal="startModal" aria-hidden="true">
		<div class="modal__dialog">
			<div class="modal__header">
				<div class="modal__header--title">DubiumModal</div>
			</div>
			<div class="modal__body">
				<a href="{{ " /" | relative_url }}" class="btn btnSwitch">Документация на Русском</a>
				<a href="{{ " /en/" | relative_url }}" class="btn btnSwitch">Documentation in English</a>
			</div>
		</div>
	</div>

	{% include script.html %}
</body>

</html>